body {
    background-color: #232c33;
    background-image: url(7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: unset;
}
.Text1 {
    color: #D9F0FF;
    font-family: Roboto;
    font-size: 20px;
}
h2 {
    color: #A0C1D1;
    font-family: 'Permanent Marker', cursive;
}
