@{ 
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h2 style="color:#A0C1D1">Manage your account</h2>

<div>
    <h4 style="color:#A0C1D1">Change your account settings</h4>
    <hr />
    <div class="row" >
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
