@{
    ViewData["Title"] = "About";
}
<h2 style="color:#A0C1D1">@ViewData["Title"]</h2>
<link rel="stylesheet" href="~/css/about.css">
<h2>What is the BMI?</h2>
<ul class="Text1">
    The body mass index (BMI) is the body mass or weight (kg) divided
    <br>
    by the square of the body height (m). The unit of BMI is kg/m2.
    <br>
    The formula had already been proposed by the Belgian mathematician,
    <br>
    Adolphe Quetelet, in the nineteenth century. The index has been used
    <br>
    until today; it was previously named after its inventor but since 1972
    <br>
    it has been known as the "body mass index".
    <br />
    <a href="../CalculatorModels">Calculate your BMI here</a>
</ul>
<h2>The idea</h2>
<ul class="Text1">
    This is platform,<br />
    that helps with <br />
    tracking goals, <br />
    tracking the progres you've made <br />
    in the Gym.
</ul>
<h2>
    Technical Details
</h2>
<ul class="Text1">
    The platform is whriten in <b>C#</b> <br />
    (controllers and main functions), <b>HTML&CSS</b> + <br />
    <b>JavaScript</b> (view), <b>Entity Framework</b> + <b>MySQL Server</b> <br />
    (DataBases),<b>NUnit(Nuget)</b> (unit testing) .
</ul>