@{
    ViewData["Title"] = "About";
}
<h2 style="color:#A0C1D1; padding-top:40px">@ViewData["Title"]</h2>
<link rel="stylesheet" href="~/css/about.css">

<h1 style="color:#A0C1D1">FitnessProgressTracker</h1>>

<h2 style="color:#A0C1D1">Curs Work</h2>

<h2 style="color:#A0C1D1">Team: Ninja Turtles</h2>>

<h3 style="color:#A0C1D1">Members:</h3>

    <ul style="color:#A0C1D1">Yousef Barakat</ul>
    <ul style="color:#A0C1D1">Mariyan Baltov</ul>
    <ul style="color:#A0C1D1"> Kristina Cvetkova</ul>
    <ul style="color:#A0C1D1"> Nikolet Dimitrova</ul>
    <ul style="color:#A0C1D1"> Hristo Kovachev</ul>

<h3 style="color:#A0C1D1">The idea:</h3>
<p style="color:#A0C1D1">
    This is platform, 
    that helps with 
    <b>tracking goals</b>, 
    <b>tracking the progres you've made</b>
    in the Gym.
</p>

<h3 style="color:#A0C1D1">Technical Details:</h3>
<p style="color:#A0C1D1">
    The platform is whriten in <b>C#</b> 
    (controllers and main functions), <b>HTML&CSS</b> + 
    <b>JavaScript</b> (view), <b>Entity Framework</b> + <b>MySQL Server</b> 
    (DataBases), <b>NUnit(Nuget)</b> (unit testing) . 
</p>