@{
    ViewData["Title"] = "Contact";
}
@{
    ViewData["Message"] = "Contact us at...";
}
<h2 style="color:#A0C1D1">@ViewData["Title"]</h2>
<h3 style="color:#A0C1D1">@ViewData["Message"]</h3>
<link rel="stylesheet" href="~/css/contact.css">

<address class="container1">
    Support<br />
    Bulgaria, Varna<br />
    <abbr title="Phone">Phone: +359 896 17 36 42</abbr>
</address>

<address>
    <strong style="color:#A0C1D1">Support:</strong> <a href="mailto:hkovachev.it@gmail.com">hkovachev.it@gmail.com</a><br />
    <strong style="color:#A0C1D1">Marketing:</strong> <a href="mailto:marketing.fpt@gmail.com">marketing.fpt@example.com</a>
</address>
