@{
    ViewData["Title"] = "Home Page";
}





<div class="row">
    <div class="col-md-3">
        <h2>About</h2>
        <ul>
            <li> Tracking your progress in the gym </li>
            <li> BMI Calculator </li>
            <li> Body Fat Mass Calculator</li>
            <li> Lean Mass Calculator </li>
            <li> Tips </li>
        </ul>
    </div>


    <div class="col-md-3">
        <h2>Why we did the FPT?</h2>
        We want to help people <br> make it easier  to keep <br> track of progress in training.
 
    </div>





    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
        </ul>
    </div>




    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
        </ul>
    </div>
</div>
