@{
    ViewData["Title"] = "Home Page";
}
<slider style="margin-left: -15px; padding: -15px;">
    <slide><p>Eat clean</p></slide>
    <slide><p>Drink water</p></slide>
    <slide><p>Sweat every day</p></slide>
    <slide><p>Be yourself</p></slide>
</slider>

